In [1]:
import pandas as pd

In [48]:
import pandas as pd

amazon_analysis = pd.read_csv(r"C:\Users\Oviya\OneDrive\Desktop\Amazon sales analysis\amazon_india_complete_2015_2025.csv")

In [49]:
amazon_analysis

,transaction_id,order_date,customer_id,product_id,product_name,category,subcategory,brand,original_price_inr,discount_percent,...,is_festival_sale,festival_name,customer_rating,return_status,order_month,order_year,order_quarter,product_weight_kg,is_prime_eligible,product_rating
0,TXN_2023_00063013,2023-07-23,CUST_2023_00018393,PROD_000454,Vivo Y95 64GB Black,Electronics,Smartphones,Vivo,27340.84,21.57,...,False,NaN,4.0,Delivered,7,2023,3,0.20,True,3.5
1,TXN_2021_00064486,20-07-2021,CUST_2015_00002865,PROD_000579,Realme Realme 3 128GB Black,Electronics,Smartphones,Realme,32907.49,0.00,...,False,NaN,5/5,Delivered,7,2021,3,0.21,False,4.5
2,TXN_2017_00065617,2017-11-16,CUST_2016_00004057,PROD_000295,Vivo V7 32GB Blue,Electronics,Smartphones,Vivo,"47,052.18",21.91,...,False,NaN,5.0,Delivered,11,2017,4,0.24,True,4.3
3,TXN_2020_00054393,2020-05-04,CUST_2020_00014574,PROD_001654,Alienware Pavilion 4GB RAM Silver,Electronics,Laptops,Alienware,238725.44,59.60,...,True,Summer Sale,5.0 stars,Delivered,5,2020,2,1.85,Yes,3.6
4,TXN_2018_00071646,2018-10-09,CUST_2018_00006275,PROD_000095,Motorola Moto X Play 16GB White,Electronics,Smartphones,Motorola,25970.76,0.00,...,False,NaN,4.0,Delivered,10,2018,4,0.16,False,3.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127604,TXN_2018_00047331,2018-07-06,CUST_2017_00025689,PROD_000009,Apple iPhone 6 Plus 16GB Black,Electronics,Smartphones,Apple,134278.16,30.83,...,True,Back to School,5.0,Delivered,7,2018,3,0.17,True,3.6
1127605,TXN_2022_00065321,2022-07-23,CUST_2021_00026763,PROD_001732,OnePlus iPad 8GB RAM Silver,Electronics,Tablets,OnePlus,97578.76,0.00,...,False,NaN,4.5,Delivered,7,2022,3,0.58,True,4.6
1127606,TXN_2023_00057908,01-07-2023,CUST_2023_00031035,PROD_001572,ASUS Inspiron 8GB RAM Black,Electronics,Laptops,ASUS,105284.29,43.31,...,True,Back to School,4.0,Delivered,7,2023,3,1.37,True,4.2
1127607,TXN_2020_00035169,2020-04-12,CUST_2017_00005760,PROD_001582,ASUS Gaming 8GB RAM Silver,Electronics,Laptops,ASUS,"Rs 72,687",0.00,...,False,NaN,5.0,Delivered,4,2020,2,2.02,False,3.8
1127608,TXN_2022_00124835,2022-12-06,CUST_2022_00042212,PROD_001764,JBL Gaming Headset,Electronics,Audio,JBL,7092.55,0.00,...,False,NaN,5.0,Delivered,12,2022,4,0.71,True,3.3

In [50]:
amazon_analysis.shape # they how many row and coloumn

(1127609, 34)

In [51]:
amazon_analysis.columns

Index(['transaction_id', 'order_date', 'customer_id', 'product_id',
       'product_name', 'category', 'subcategory', 'brand',
       'original_price_inr', 'discount_percent', 'discounted_price_inr',
       'quantity', 'subtotal_inr', 'delivery_charges', 'final_amount_inr',
       'customer_city', 'customer_state', 'customer_tier',
       'customer_spending_tier', 'customer_age_group', 'payment_method',
       'delivery_days', 'delivery_type', 'is_prime_member', 'is_festival_sale',
       'festival_name', 'customer_rating', 'return_status', 'order_month',
       'order_year', 'order_quarter', 'product_weight_kg', 'is_prime_eligible',
       'product_rating'],
      dtype='object')

In [52]:
if amazon_analysis.isnull().values.any(): #checks if any cell in the DataFrame is null (True if yes)
    print(amazon_analysis.isnull().sum()[amazon_analysis.isnull().sum() > 0]) #counts nulls per column (sum)& filters only columns that have missing values.
else:
    print('No Null Values')

delivery_charges       90201
customer_age_group    135315
festival_name         777736
customer_rating       341696
dtype: int64

In [53]:
#Rename all columns manually for clarity and consistency
amazon_analysis.columns = ['transaction_id', 'order_date', 'customer_id', 'product_id',
       'product_name', 'category', 'subcategory', 'brand',
       'original_price_inr', 'discount_percent', 'discounted_price_inr',
       'quantity', 'subtotal_inr', 'delivery_charges', 'final_amount_inr',
       'customer_city', 'customer_state', 'customer_tier',
       'customer_spending_tier', 'customer_age_group', 'payment_method',
       'delivery_days', 'delivery_type', 'is_prime_member', 'is_festival_sale',
       'festival_name', 'customer_rating', 'return_status', 'order_month',
       'order_year', 'order_quarter', 'product_weight_kg', 'is_prime_eligible',
       'product_rating']
#Clean up column names for presentation:
# Replace underscores (_) with spaces.
# Convert to Title Case (e.g., 'order_date' â†’ 'Order Date')

amazon_analysis.columns = amazon_analysis.columns.str.replace("_", " ").str.title()
amazon_analysis.columns

Index(['Transaction Id', 'Order Date', 'Customer Id', 'Product Id',
       'Product Name', 'Category', 'Subcategory', 'Brand',
       'Original Price Inr', 'Discount Percent', 'Discounted Price Inr',
       'Quantity', 'Subtotal Inr', 'Delivery Charges', 'Final Amount Inr',
       'Customer City', 'Customer State', 'Customer Tier',
       'Customer Spending Tier', 'Customer Age Group', 'Payment Method',
       'Delivery Days', 'Delivery Type', 'Is Prime Member', 'Is Festival Sale',
       'Festival Name', 'Customer Rating', 'Return Status', 'Order Month',
       'Order Year', 'Order Quarter', 'Product Weight Kg', 'Is Prime Eligible',
       'Product Rating'],
      dtype='object')

In [54]:
#analyze all categorical (text/object-type) columns in your dataset â€”
#to see what unique values exist in each, how often they occur, and how diverse the data
object_cols = amazon_analysis.select_dtypes(include='object').columns  # Get only text columns

# Loop through each categorical column
for col in object_cols:
    print("=" * 50)
    print(f"ðŸ“Š Column Name: {col}")
    print("-" * 50)
    
    # Show top 10 most common values and their counts
    value_counts = amazon_analysis[col].value_counts().head(10)
    print(value_counts)
    
    # Show number of unique values for extra insight
    print(f"\nUnique values: {amazon_analysis[col].nunique()}")
    print("=" * 50, "\n")

==================================================
ðŸ“Š Column Name: Transaction Id
--------------------------------------------------
Transaction Id
TXN_2023_00063013    1
TXN_2021_00064486    1
TXN_2017_00065617    1
TXN_2020_00054393    1
TXN_2018_00071646    1
TXN_2016_00020663    1
TXN_2019_00091040    1
TXN_2020_00052917    1
TXN_2022_00023262    1
TXN_2017_00049484    1
Name: count, dtype: int64

Unique values: 1127609
==================================================

==================================================
ðŸ“Š Column Name: Order Date
--------------------------------------------------
Order Date
2020-12-02    543
2020-12-05    528
2020-12-26    525
2020-12-14    519
2020-12-18    518
2020-12-06    516
2020-12-29    515
2021-12-11    513
2021-12-08    509
2020-12-22    509
Name: count, dtype: int64

Unique values: 14414
==================================================

==================================================
ðŸ“Š Column Name: Customer Id
--------------------------------------------------
Customer Id
CUST_2015_00003928    27
CUST_2015_00004053    24
CUST_2015_00001860    23
CUST_2017_00014541    23
CUST_2015_00004247    22
CUST_2015_00000652    22
CUST_2015_00005358    22
CUST_2015_00006191    22
CUST_2015_00011502    22
CUST_2017_00018932    22
Name: count, dtype: int64

Unique values: 354969
==================================================

==================================================
ðŸ“Š Column Name: Product Id
--------------------------------------------------
Product Id
PROD_001935    2916
PROD_000055    2509
PROD_001949    2488
PROD_001943    2475
PROD_001899    2466
PROD_000054    2465
PROD_001884    2460
PROD_001691    2429
PROD_000163    2425
PROD_001923    2415
Name: count, dtype: int64

Unique values: 2004
==================================================

==================================================
ðŸ“Š Column Name: Product Name
--------------------------------------------------
Product Name
Garmin Watch Deluxe                  2916
OnePlus OnePlus 2 16GB White         2509
Noise Watch Premium                  2488
Garmin Sports Watch Premium          2475
Xiaomi Watch Premium                 2466
OnePlus OnePlus 2 64GB Black         2465
Apple Fitness Band Premium           2460
Samsung Galaxy Tab 4GB RAM Silver    2429
OnePlus OnePlus 3T 16GB Black        2425
Fitbit Watch Premium                 2415
Name: count, dtype: int64

Unique values: 1974
==================================================

==================================================
ðŸ“Š Column Name: Category
--------------------------------------------------
Category
Electronics                  1126726
Electronic                       229
ELECTRONICS                      225
Electronics & Accessories        218
Electronicss                     211
Name: count, dtype: int64

Unique values: 5
==================================================

==================================================
ðŸ“Š Column Name: Subcategory
--------------------------------------------------
Subcategory
Smartphones           827177
Laptops                88370
Smart Watch            74708
Tablets                70254
Audio                  50623
TV & Entertainment     16477
Name: count, dtype: int64

Unique values: 6
==================================================

==================================================
ðŸ“Š Column Name: Brand
--------------------------------------------------
Brand
Samsung      222664
OnePlus      174329
Xiaomi       156154
Apple        111827
Realme        84696
Oppo          71205
Vivo          71176
Motorola      34535
Lenovo        22733
Alienware     14683
Name: count, dtype: int64

Unique values: 29
==================================================

==================================================
ðŸ“Š Column Name: Original Price Inr
--------------------------------------------------
Original Price Inr
45363.47    409
52280.35    386
54731.86    381
46234.09    370
46458.94    358
56337.89    351
45182.31    350
46161.87    350
44939.24    344
86477.53    343
Name: count, dtype: int64

Unique values: 46185
==================================================

==================================================
ðŸ“Š Column Name: Customer City
--------------------------------------------------
Customer City
Mumbai       140536
Delhi        122365
Bangalore    101416
Chennai       83646
Pune          67703
Kolkata       65767
Ahmedabad     50861
Hyderabad     44573
Jaipur        40453
Surat         40400
Name: count, dtype: int64

Unique values: 50
==================================================

==================================================
ðŸ“Š Column Name: Customer State
--------------------------------------------------
Customer State
Maharashtra      246558
Delhi            123469
Uttar Pradesh    118403
Gujarat          112339
Tamil Nadu       111448
Karnataka        102523
West Bengal       66867
Telangana         44573
Rajasthan         40453
Punjab            38466
Name: count, dtype: int64

Unique values: 15
==================================================

==================================================
ðŸ“Š Column Name: Customer Tier
--------------------------------------------------
Customer Tier
Metro    563829
Tier1    338631
Tier2    175157
Rural     49992
Name: count, dtype: int64

Unique values: 4
==================================================

==================================================
ðŸ“Š Column Name: Customer Spending Tier
--------------------------------------------------
Customer Spending Tier
Standard    688120
Budget      232696
Premium     206793
Name: count, dtype: int64

Unique values: 3
==================================================

==================================================
ðŸ“Š Column Name: Customer Age Group
--------------------------------------------------
Customer Age Group
26-35    347899
18-25    316424
36-45    199100
46-55     99012
55+       29859
Name: count, dtype: int64

Unique values: 5
==================================================

==================================================
ðŸ“Š Column Name: Payment Method
--------------------------------------------------
Payment Method
UPI            384228
COD            322831
Credit Card    172261
Debit Card     140202
Net Banking     64971
Wallet          22821
BNPL            20295
Name: count, dtype: int64

Unique values: 7
==================================================

==================================================
ðŸ“Š Column Name: Delivery Days
--------------------------------------------------
Delivery Days
3           288488
1           210462
4           206438
5           136608
2           126280
6           102668
7            34116
-1            6836
1-2 days      4534
Same Day      4469
Name: count, dtype: int64

Unique values: 13
==================================================

==================================================
ðŸ“Š Column Name: Delivery Type
--------------------------------------------------
Delivery Type
Standard    784003
Same Day    214766
Express     128840
Name: count, dtype: int64

Unique values: 3
==================================================

==================================================
ðŸ“Š Column Name: Is Prime Member
--------------------------------------------------
Is Prime Member
False    635593
True     390675
FALSE     21086
0         21078
No        20728
Yes       12894
1         12871
TRUE      12684
Name: count, dtype: int64

Unique values: 8
==================================================

==================================================
ðŸ“Š Column Name: Is Festival Sale
--------------------------------------------------
Is Festival Sale
False    707951
True     318446
0         23568
FALSE     23150
No        23067
Yes       10518
TRUE      10488
1         10421
Name: count, dtype: int64

Unique values: 8
==================================================

==================================================
ðŸ“Š Column Name: Festival Name
--------------------------------------------------
Festival Name
Back to School                  85396
Diwali Sale                     83611
Amazon Great Indian Festival    53062
Summer Sale                     44931
Holi Festival                   39608
Republic Day Sale               20183
Valentine Sale                  14106
Prime Day                        8976
Name: count, dtype: int64

Unique values: 8
==================================================

==================================================
ðŸ“Š Column Name: Customer Rating
--------------------------------------------------
Customer Rating
4.5          245857
5.0          185749
4.0          174681
3.5           76153
3.0           40617
4/5           10914
4.5 stars      8618
5.0 stars      6368
4.0 stars      6069
5/5            4787
Name: count, dtype: int64

Unique values: 21
==================================================

==================================================
ðŸ“Š Column Name: Return Status
--------------------------------------------------
Return Status
Delivered    1022431
Returned       79125
Cancelled      26053
Name: count, dtype: int64

Unique values: 3
==================================================

==================================================
ðŸ“Š Column Name: Is Prime Eligible
--------------------------------------------------
Is Prime Eligible
True     840778
False    185642
1         27650
Yes       27631
TRUE      27607
FALSE      6183
No         6079
0          6039
Name: count, dtype: int64

Unique values: 8
==================================================

In [55]:
# Change 'Order Date' column to date format
amazon_analysis['Order Date'] = pd.to_datetime(
    amazon_analysis['Order Date'], errors='coerce', format='mixed'
)
#Change these columns to numbers
for col in ['Original Price Inr', 'Delivery Days', 'Customer Rating']:
    amazon_analysis[col] = pd.to_numeric(amazon_analysis[col], errors='coerce')
#Change these columns to True/False values
for col in ['Is Festival Sale', 'Is Prime Member', 'Is Prime Eligible']:
    amazon_analysis[col] = pd.to_numeric(amazon_analysis[col], errors='coerce').astype(bool)
#Print message when done
print("âœ… All columns converted successfully!")

âœ… All columns converted successfully!

In [ ]:
amazon_analysis[['delivery_charges', 'customer_rating']] = (
    amazon_analysis[['delivery_charges', 'customer_rating']].fillna(method='bfill')
)
#fills missing values in Delivery Charges and Customer Rating columns by taking the next available non-missing value below in the same column.

C:\Users\Oviya\AppData\Local\Temp\ipykernel_15668\3796653158.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  amazon_analysis[['delivery_charges', 'customer_rating']].fillna(method='bfill')

In [ ]:
amazon_analysis[['original_price_inr', 'delivery_days', 'customer_rating']] = (
    amazon_analysis[['original_price_inr', 'delivery_days', 'customer_rating']].fillna(method='bfill')
)
#filling missing values in those 3 columns with the next available value from below (backward fill).

C:\Users\Oviya\AppData\Local\Temp\ipykernel_15668\139033822.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  amazon_analysis[['original_price_inr', 'delivery_days', 'customer_rating']].fillna(method='bfill')

In [ ]:
amazon_analysis[['festival_name', 'customer_age_group', 'customer_rating']] = (
    amazon_analysis[['festival_name', 'customer_age_group', 'customer_rating']].fillna(method='ffill')
)
#It is replaced with the previous rowâ€™s value (the one just above it in the same column)-forward fill

C:\Users\Oviya\AppData\Local\Temp\ipykernel_15668\1020433707.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  amazon_analysis[['festival_name', 'customer_age_group', 'customer_rating']].fillna(method='ffill')

In [ ]:
amazon_analysis['festival_name'] = amazon_analysis['festival_name'].fillna(method='bfill')
#fills empty â€œFestival Nameâ€ cells using the next non-empty value below in the same column.

C:\Users\Oviya\AppData\Local\Temp\ipykernel_15668\621692206.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  amazon_analysis['festival_name'] = amazon_analysis['festival_name'].fillna(method='bfill')

In [ ]:
amazon_analysis['customer_age_group'] = amazon_analysis['customer_age_group'].fillna(method='bfill')
#fills empty cells in Customer Age Group with the next rowâ€™s value, so you donâ€™t have missing values in that colums

C:\Users\Oviya\AppData\Local\Temp\ipykernel_15668\509954054.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  amazon_analysis['customer_age_group'] = amazon_analysis['customer_age_group'].fillna(method='bfill')

In [ ]:
amazon_analysis['original_price_inr'] = amazon_analysis['original_price_inr'].fillna(method='ffill')
#fills empty cells in Original Price Inr with the last known value above (forward fill), so there are no missing values in that column.

C:\Users\Oviya\AppData\Local\Temp\ipykernel_15668\961526278.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  amazon_analysis['original_price_inr'] = amazon_analysis['original_price_inr'].fillna(method='ffill')

In [56]:
null_columns = amazon_analysis.isnull().sum().pipe(lambda x: x[x > 0])
print(null_columns if not null_columns.empty else "No Null Values")
#If any column has missing values, it shows how many. Otherwise, it says â€œNo Null Values.

Original Price Inr    101569
Delivery Charges       90201
Customer Age Group    135315
Delivery Days          11320
Festival Name         777736
Customer Rating       398240
dtype: int64

In [ ]:
amazon_analysis[1000:20000]['order_date'] #extracts a slice of the Order Date column from row 1000 to row 19999.

1000     2023-04-17
1001     2017-02-22
1002     2020-07-11
1003     2024-05-11
1004     2017-09-13
            ...
19995    2020-08-10
19996    2023-07-11
19997    2016-10-18
19998    18/01/2021
19999    2021-07-05
Name: order_date, Length: 19000, dtype: object

In [22]:
amazon_analysis.dtypes

transaction_id             object
order_date                 object
customer_id                object
product_id                 object
product_name               object
category                   object
subcategory                object
brand                      object
original_price_inr         object
discount_percent          float64
discounted_price_inr      float64
quantity                    int64
subtotal_inr              float64
delivery_charges          float64
final_amount_inr          float64
customer_city              object
customer_state             object
customer_tier              object
customer_spending_tier     object
customer_age_group         object
payment_method             object
delivery_days              object
delivery_type              object
is_prime_member            object
is_festival_sale           object
festival_name              object
customer_rating            object
return_status              object
order_month                 int64
order_year                  int64
order_quarter               int64
product_weight_kg         float64
is_prime_eligible          object
product_rating            float64
dtype: object

In [27]:
city_map = {
    "Mumbai": "Mumbai",
    "mumba": "Mumbai",
    "MUMBAI": "Mumbai",
    "Bombay": "Mumbai",

    "Delhi": "Delhi",
    "delhi": "Delhi",
    "DELHI": "Delhi",
    "New Delhi": "Delhi",
    "Delhi NCR": "Delhi",

    "Bangalore": "Bangalore",
    "Banglore": "Bangalore",
    "Bengalore": "Bangalore",
    "BANGALORE": "Bangalore",
    "Bengaluru": "Bangalore",

    "Chennai": "Chennai",
    "CHENNAI": "Chennai",
    "chenai": "Chennai",
    "chenai": "Chennai",
    "Madras": "Chennai",

    "Kolkata": "Kolkata",
    "kolkata": "Kolkata",
    "KOLKATA": "Kolkata",
    "Calcutta": "Kolkata"
}
print("done")

done

In [ ]:
import pandas as pd

data = {
    'Order Date': ['2025-01-01', '2025-01-02', '2025-01-03'],
    'Customer Age Group': ['Adult', 'Teen', None],
    'Customer City': ['Mumbai', 'Bengaluru', 'delhi ncr'],  # column with variations
    'Original Price Inr': [500, 600, 700]
}

amazon_analysis = pd.DataFrame(data)

# Step 1: Clean column names
# -----------------------------
amazon_analysis.columns = (
    amazon_analysis.columns
    .str.strip()            # remove extra spaces
    .str.lower()            # convert to lowercase
    .str.replace(' ', '_')  # replace spaces with underscores
)

# -----------------------------
# Step 2: Define city mapping dictionary
# -----------------------------
city_map = {
    "Mumbai": "Mumbai",
    "mumba": "Mumbai",
    "MUMBAI": "Mumbai",
    "Bombay": "Mumbai",

    "Delhi": "Delhi",
    "delhi": "Delhi",
    "DELHI": "Delhi",
    "New Delhi": "Delhi",
    "Delhi NCR": "Delhi",

    "Bangalore": "Bangalore",
    "Banglore": "Bangalore",
    "Bengalore": "Bangalore",
    "BANGALORE": "Bangalore",
    "Bengaluru": "Bangalore",

    "Chennai": "Chennai",
    "CHENNAI": "Chennai",
    "chenai": "Chennai",
    "Madras": "Chennai",

    "Kolkata": "Kolkata",
    "kolkata": "Kolkata",
    "KOLKATA": "Kolkata",
    "Calcutta": "Kolkata"
}

# -----------------------------
# Step 3: Standardize city names
# -----------------------------
amazon_analysis['customer_city'] = amazon_analysis['customer_city'].replace(city_map)

# -----------------------------
# Step 4: Verify the results
# -----------------------------
print(amazon_analysis)
print("\nCity Counts:")
print(amazon_analysis['customer_city'].value_counts())

#dictionary is a lookup table to convert messy city names into a clean, consistent format for analysis.

   order_date customer_age_group customer_city  original_price_inr
0  2025-01-01              Adult        Mumbai                 500
1  2025-01-02               Teen     Bangalore                 600
2  2025-01-03               None     delhi ncr                 700

City Counts:
customer_city
Mumbai       1
Bangalore    1
delhi ncr    1
Name: count, dtype: int64
Series([], Name: customer_city, dtype: object)

In [58]:
amazon_analysis['Customer City'].iloc[100:1000]

100      Nagpur
101      Nagpur
102       Delhi
103      Mumbai
104     Kolkata
         ...
995     Kolkata
996       Delhi
997     Lucknow
998      Kanpur
999    Ludhiana
Name: Customer City, Length: 900, dtype: object

In [59]:
amazon_analysis['Payment Method'].unique()

array(['COD', 'UPI', 'Debit Card', 'Credit Card', 'Net Banking', 'Wallet',
       'BNPL'], dtype=object)